<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>Success Login HR</title>
</head>

<body>
<div class="container">

  <div class="text-center" th:if="${user.role == 'hr'}">

    <h1>Success Login HR</h1>

    <div class="text-center pt-5">
      <p th:text="${user.nama_depan}"></p>
    </div>
    <div class="text-center pt-5">
      <p th:text="${user.nama_belakang}"></p>
    </div>
    <div class="text-center pt-5">
      <p th:text="${user.email}"></p>
    </div>
    <div class="text-center pt-5">
      <p th:text="${user.nomor_hp}"></p>
    </div>
    <div class="text-center pt-5">
      <p th:text="${user.alamat}"></p>
    </div>
    <div class="text-center pt-5">
      <p th:text="${user.tanggal_lahir}"></p>
    </div>
    <div class="text-center pt-5">
      <p th:text="${user.tempat_lahir}"></p>
    </div>
    <div class="text-center pt-5">
      <p th:text="${user.role}"></p>
    </div>
    <div class="text-center pt-5">
      <p th:text="${user.status_karyawan}"></p>
    </div>
    <div class="text-center pt-5">
      <p th:text="${user.username}"></p>
    </div>
    <div class="text-center pt-5">
      <p th:text="${user.password}"></p>
    </div>
  </div>

  <div th:unless="${user.role == 'hr'}">
    <script th:inline="javascript">
            /*<![CDATA[*/
            window.location.replace('/no-access');
            /*]]>*/
        </script>
  </div>

</div>
</body>

</html>
