<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>Rekap Klien</title>
</head>

<body>
<div class="text-center" th:if="${user != null && user.role == 'admin' || user.role == 'executive'}"> </div>
<div th:switch="${user.role}">
  <div th:case="'admin'">
    <nav th:replace="~{fragments/admin_navbar :: admin_navbar}"></nav>
  </div>
  <div th:case="'executive'">
    <nav th:replace="~{fragments/executive_navbar :: executive_navbar}"></nav>
  </div>
</div>

<div class="container mt-3">
  <div class="text-center">
    <h1>Client Order Recapitulation</h1>
  </div>

  <form action="/pesanan/rekap-klien" method="get">
    <input type="text" id="clientName" name="clientName"
                    placeholder="Search by Client Name...">
    <label for="bulan">Bulan:</label>
    <select name="bulan" id="bulan">
      <option value="">Choose month...</option>
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <label for="tahun">Year:</label>
    <input type="number" name="tahun" id="tahun">

    <select id="sortBy" name="sortBy">
      <option value="">Sort by...</option>
      <option value="mostItems">Most products ordered</option>
      <option value="leastItems">Least products ordered</option>
      <option value="highestPrice">Highest total price</option>
      <option value="lowestPrice">Lowest total price</option>
    </select>
    <button type="submit">Filter</button>
  </form>

  <th:block th:if="${(bulan == null and tahun!= null) or (bulan!= null and tahun == null) or #lists.isEmpty(klienSummary)}">
    <p th:text="${(bulan == null and tahun!= null) or (bulan!= null and tahun == null)? 'Fill out both the month and year to see recap.' : 'No orders found.'}"></p>
  </th:block>

  <th:block th:if="${not #lists.isEmpty(klienSummary)}">
  <table class="table table-bordered table-hover mt-3">
    <thead class="thead-dark">
    <tr>
      <th>No</th>
      <th>Client ID</th>
      <th>Client Name</th>
      <th>Number of Products Ordered</th>
      <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client, iterStat: ${klienSummary}">
      <td th:text="${iterStat.index + 1}"></td>
      <td th:text="${client.klien.id}"></td>
      <td th:text="${client.klien.namaKlien}"></td>
      <td th:text="${client.totalQuantity}"></td>
      <td th:text="${client.totalPrice}"></td>
    </tr>
    </tbody>
  </table>
  </th:block>
</div>

<!--<th:block th:if="${#lists.isEmpty(klienSummary)}">
  <p>Tidak ada pesanan.</p>
</th:block>-->

<div th:unless="${user != null && (user.role == 'executive' || user.role =='admin') }">
  <script th:inline="javascript">
            /*<![CDATA[*/
            window.location.replace('/no-access');
            /*]]>*/
        </script>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>