<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
            integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <style>
        .card {
            max-width: 1100px; /* Lebar maksimal card */
            margin: 0 auto; /* Pusatkan card secara horizontal */
        }
        .center-button {
            display: flex;
            justify-content: center;
        }
        .form-group {
            margin-bottom: 1.5rem;
        }


        body {
            font-family: 'Poppins', sans-serif;
        }

        .left-top-corner {
            position: fixed;
            top: 90px;
            left: 20px;
        }

        .left-top-corner .btn-back {
            background-color: #F3D266;; /* Background color */
            color: #fff; /* Text color */
            border: none; /* Remove border */
            padding: 8px 12px; /* Button padding */
            border-radius: 5px; /* Button corner shape */
            text-decoration: none; /* Remove underline */
        }

        .navbar {
            margin-bottom: 20px; /* Navbar height, to prevent overlap with buttons above */
        }
    </style>
</head>
<body>
<nav th:replace="~{fragments/admin_navbar :: admin_navbar}"></nav>

<div class="left-top-corner">
    <a type="button" class="btn btn-back btn-md" href="/"><i class="fas fa-chevron-left"></i></a>
</div>

<div class="text-center" th:if="${user.role == 'admin'}"> </div>
<div class="card mt-5">
    <div class="card-header text-center fw-bold" style="font-size: 24px">
        Register Employee
    </div>
    <div class="card-body">
        <form th:action="@{/registerUser}" th:object="${userRegister}" method="POST">
            <div class="d-flex justify-content-center">
                <small th:if="${duplicateError}" class="alert alert-danger" th:text="${duplicateError}"></small>
            </div>

            <div class="form-group">
                <label for="formNamaDepan" class="form-label">First name</label>
                <input type="text" th:field = "*{nama_depan}" class="form-control" id="formNamaDepan" placeholder ="Enter first name">
                <small th:if="${#fields.hasErrors('nama_depan')}" class="text-danger" th:errors="*{nama_depan}"></small>
            </div>
            <div class="form-group">
                <label for="formNamaBelakang" class="form-label">Last name</label>
                <input type="text" th:field = "*{nama_belakang}" class="form-control" id="formNamaBelakang" placeholder ="Enter last name">
                <small th:if="${#fields.hasErrors('nama_belakang')}" class="text-danger" th:errors="*{nama_belakang}"></small>
            </div>
            <div class="form-group">
                <label for="formEmail" class="form-label">Email</label>
                <input type="text" th:field = "*{email}"  class="form-control" id="formEmail" placeholder ="Enter email">
                <small th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></small>
            </div>
            <div class="form-group">
                <label for="formNomorHp" class="form-label">Phone number</label>
                <input type="number" th:field = "*{nomor_hp}"  class="form-control" id="formNomorHp" placeholder ="Enter phone number">
                <small th:if="${#fields.hasErrors('nomor_hp')}" class="text-danger" th:errors="*{nomor_hp}"></small>
            </div>
            <div class="form-group">
                <label for="formAlamat" class="form-label">Address</label>
                <input type="text" th:field = "*{alamat}" class="form-control" id="formAlamat" placeholder ="Enter address">
                <small th:if="${#fields.hasErrors('alamat')}" class="text-danger" th:errors="*{alamat}"></small>
            </div>
            <div class="form-group">
                <label for="formTanggalLahir" class="form-label">Birthdate</label>
                <input type="date" th:field = "*{tanggal_lahir}" class="form-control" id="formTanggalLahir">
                <small th:if="${#fields.hasErrors('tanggal_lahir')}" class="text-danger" th:errors="*{tanggal_lahir}"></small>
            </div>
            <div class="form-group">
                <label for="formTempatLahir" class="form-label">Birth town</label>
                <input type="text" th:field = "*{tempat_lahir}" class="form-control" id="formTempatLahir" placeholder ="Enter birth town">
                <small id="tempat-lahir-error" class="text-danger"></small>
            </div>
            <div class="form-group">
                <label for="formRole" th:field = "*{role}"  class="form-label">Role</label>
                <select class="form-select" id="formRole" name="role">
                    <option value="admin">Admin</option>
                    <option value="operational">Operational</option>
                    <option value="hr">HR</option>
                    <option value="executive">Executive</option>
                </select>
                <small th:if="${#fields.hasErrors('role')}" class="text-danger" th:errors="*{role}"></small>
            </div>
            <div class="form-group">
                <label for="formStatusKaryawan" class="form-label">Employee Status</label>
                <select class="form-select" id="formStatusKaryawan" th:field = "*{status_karyawan}" name="statusKaryawan">
                    <option value="1">Active</option>
                </select>
                <small th:if="${#fields.hasErrors('status_karyawan')}" class="text-danger" th:errors="*{status_karyawan}"></small>
            </div>
            <div class="form-group">
                <label for="formUsername" class="form-label">Username</label>
                <input type="text" th:field = "*{username}" class="form-control" id="formUsername" placeholder ="Enter username">
                <small th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username}"></small>
            </div>
            <div class="form-group">
                <label for="formPassword" class="form-label">Password</label>
                <input type="password" th:field = "*{password}" class="form-control" id="formPassword" placeholder ="Masukkan password">
                <small th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></small>
            </div>
            <div class="center-button">
                <button type="submit" class="btn btn-primary" >Register</button>
            </div>
        </form>
    </div>
</div>


<div th:unless="${user.role =='admin'}">
    <script th:inline="javascript">
            /*<![CDATA[*/
            window.location.replace('/no-access');
            /*]]>*/
    </script>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-4+qn4Xqf8T5ywBgeA2zKkqG0TVveK/JJfDwrOQ1QhoKqIbcoO8eP1iFs2x7p8jq1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+UAQlFeJK6ZKN1L4y47pDf8xF9+Qz9v5CGI9xgndbcgyksW2JWBUX2+nXk" crossorigin="anonymous"></script>
</body>
</html>
