<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Pesanan</title>
</head>

<body>
    <div th:switch="${user.role}">
        <div th:case="'admin'">
            <nav th:replace="~{fragments/admin_navbar :: admin_navbar}"></nav>
        </div>
        <div th:case="'operational'">
            <nav th:replace="~{fragments/operational_navbar :: operational_navbar}"></nav>
        </div>
    </div>

    <div class="container mt-3">
        <div class="text-center">
            <h1>List of Pesanan</h1>
        </div>

        <form class="form-filter" th:action="@{/pesanan/list}" method="get">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control" id="searchInput" name="searchInput"
                        placeholder="Search by Client Name or Agent Name">
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="statusPesanan" name="statusPesanan">
                        <option value="">Status Pesanan</option>
                        <option value="Ongoing">Ongoing</option>
                        <option value="Complete">Complete</option>
                        <option value="Canceled">Canceled</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="tanggalPemesanan" name="tanggalPemesanan">
                        <option value="">Select Date Range</option>
                        <option value="recent">Recent 14 Days</option>
                        <option value="old">Old 14 Days</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary float-right">Filter</button>
                </div>
            </div>
        </form>

        <table class="table table-bordered table-hover mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nama Klien</th>
                    <th>Nama Agent</th>
                    <th>Status Pesanan</th>
                    <th>Jumlah Pesanan</th>
                    <th>Tanggal Pemesanan</th>
                    <th>Tanggal Selesai</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pesanan : ${pesananList}">
                    <td th:text="${pesanan.id}">ID</td>
                    <td th:text="${pesanan.klien.namaKlien}">Nama Klien</td> <!-- Perubahan di sini -->
                    <td th:text="${pesanan.namaAgent}">Nama Agent</td>
                    <td>
                        <span th:text="${pesanan.statusPesanan}"
                            th:style="${pesanan.statusPesanan == 'Canceled' ? 'color: red' : ''}"></span>
                    </td>
                    <td th:text="${pesanan.jumlahBarangPesanan}">Jumlah Pesanan</td>
                    <td th:text="${pesanan.tanggalPemesanan}">Tanggal Pemesanan</td>
                    <td th:text="${pesanan.tanggalSelesai}">Tanggal Selesai</td>
                    <td>
                        <a th:href="@{/pesanan/update/{id}(id=${pesanan.id})}" class="btn btn-primary btn-sm">Edit</a>
                        <th:block th:if="${pesanan.statusPesanan != 'Ongoing'}">
                            <a th:href="@{/pesanan/delete/{id}(id=${pesanan.id})}" class="btn btn-danger btn-sm"
                                th:onclick="'return confirm(\'Are you sure?\')'">Delete</a>
                        </th:block>
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="/pesanan/create" class="btn btn-success">Create New Pesanan</a>
    </div>

    <div th:unless="${user.role == 'operational' || user.role =='admin'}">
        <script th:inline="javascript">
            /*<![CDATA[*/
            window.location.replace('/no-access');
            /*]]>*/
        </script>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>