<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- <style>
        .navbar {
            padding-top: 0.5rem; 
            padding-bottom: 0.5rem; 
        }

        .navbar-nav {
            margin-right: 0; 
        }

        .navbar-nav .nav-link {
            padding: 5px 10px;
        }

        .dropdown-menu {
            padding: 5px;
        }
    </style>
</head> -->

<body>
    <nav th:fragment="executive_navbar" class="navbar navbar-expand-lg navbar-light" style="background-color: #F3D266;">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="images/logo-huruf-big.png" alt="Navbar Brand Image" width="auto" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#executiveNavbarSupportedContent"
                aria-controls="executiveNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="executiveNavbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#about" style="color: #3C3F61;">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services" style="color: #3C3F61;">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#systems" style="color: #3C3F61;">Systems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#products" style="color: #3C3F61;">Products</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownExecutive" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #3C3F61;">
                            Executive
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownExecutive">
                            <a class="dropdown-item" href="#">Dashboard</a>
                            <a class="dropdown-item" th:href="@{/karyawan/viewall}">See Employees</a>
                            <a class="dropdown-item" th:href="@{/pesanan/rekap-penjualan}">Rekap Penjualan</a>
                            <a class="dropdown-item" th:href="@{/pesanan/rekap-penjualan-chart}">Chart Top Penjualan</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #3C3F61;" th:text="'Hi, ' + ${user.nama_depan} + ' ' + ${user.nama_belakang}">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUser">
                            <a class="dropdown-item" th:href="@{/view-profile}">Account Settings</a>
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-item">Logout</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-4+qn4Xqf8T5ywBgeA2zKkqG0TVveK/JJfDwrOQ1QhoKqIbcoO8eP1iFs2x7p8jq1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-TJ0vM+M1Jx7sb7n3+gGN9aGuWaa2X+KgM/xl5+QP/r5JePsv+JZw8u3Ax3s4nbl3"
            crossorigin="anonymous"></script>
</body>

</html>
